<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
</head>

<body class="d-flex justify-content-center" style="width: 79mm;  font-size: 4px;">
    <div class="card col-6 p-2">
        <div class="height: 80mm">
            <div class="row">
                <div class=" col-5 d-flex justify-content-end p-0"><img src="./logo.png" alt=""
                        style="width: 2rem;height: 2rem;"></div>
                <div class="col-7 pl-0 ml-0 p-0">
                    <h6 style="margin: 0px; ">SI-DENT</h6>
                    <p style="margin-bottom: 0 ; font-size: 5px;">  &nbsp;<sup>_________</sup> Dental clinic <sup>_________</sup></p>
                </div>
            </div>
            <div class="row pt-0 mt-0" style="display: flex;justify-content: center;">
                <div class="col-12 d-flex justify-content-center"><small> Perfection Beyond Imagination</small></div>
                <div class="col-12 d-flex justify-content-center"><small>No 120 Rajakamangalam Road,</small></div>
                <div class="col-12 d-flex justify-content-center"><small>Punnal Nagar,Nagarcoil-4</small></div>
                <div class="col-12 d-flex justify-content-center"><small>Tel:04652 265633</small></div>
                <div class="col-12 d-flex justify-content-center"><small>Email:sidentDentalClinic@gmail.com</small>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center pt-1 pb-2">Recipte Details</div>
            <div class="col-4">
                <h6 style="font-size: 7px; margin-bottom: 3px;">Invoice:11410</h6>
                <div><small>Date:04.12.2023</small></div>
                <div><small>Pt Name:Jayaram</small></div>
                <div><small>PatientId:10077585</small></div>
            </div>
        </div>
        <table class="mt-1">
            <tr>
                <td>
                    <h6 style="font-size: 7px; margin-bottom: 3px;"> No</h6>
                </td>
                <td>
                    <h6 style="font-size: 7px; margin-bottom: 3px;">Description</h6>
                </td>
                <td>
                    <h6 style="font-size: 7px; margin-bottom: 3px;">Amount</h6>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Surgical Remove Of Tooth(38)</td>
                <td>4700</td>
            </tr>
        </table>
        <div class="row d-flex justify-content-end mt-1" >
            <div class="col-6 ">
                <div class="row">
                    <div class="d-flex justify-content-end  col-5 p-0 pb-2" style="padding-bottom: 3px;margin-top: 2px;"><small>Sub Total :</small></div>
                    <div class="col-7 p-0 mb-0">
                        <h6 style="padding-left: 3px; font-size: 7px;margin-bottom: 1px;"> 4700/-</h6>
                    </div>
                    <div class="d-flex justify-content-end  col-5 p-0 pb-2" style="padding-bottom: 3px;margin-top: 2px;"><small>Total :</small> </div>
                    <div class="col-7 p-0 mb-0">
                        <h6 style="padding-left: 3px; font-size: 7px;margin-bottom: 1px;"> 4700/-</h6>
                    </div>
                    <div class="d-flex justify-content-end  col-5 p-0 pb-2" style="padding-bottom: 3px;margin-top: 2px;"><small>Payment Made :</small></div>
                    <div class="col-7 p-0 mb-0">
                        <h6 style="padding-left: 3px; font-size: 7px;margin-bottom: 1px;"> 4700/-</h6>
                    </div>
                    <div class="d-flex justify-content-end  col-5 p-0 pb-2" style="padding-bottom: 3px;margin-top: 2px;"><small>Due Amount :</small> </div>
                    <div class="col-7 p-0 mb-0">
                        <h6 style="padding-left: 3px; font-size: 7px;margin-bottom: 1px;"> 0</h6>
                    </div>

                </div>
                <div class="d-flex justify-content-end pb-2">Fully Paid</div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">Hello see you smile again</div>
        <div class="col-12 d-flex justify-content-center">For Emergency :&nbsp; <b> 7708833638</b></div>

    </div>
</body>

</html>